<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="EBoost\StockAlert\Model\ResourceModel\Stock\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_alert_stock</argument>
            <argument name="resourceModel" xsi:type="string">Magento\ProductAlert\Model\ResourceModel\Stock\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eboost_stockalert_stock_listing_data_source" xsi:type="string">EBoost\StockAlert\Model\ResourceModel\Stock\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
